@charset "UTF-8";

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #372a4a;
	color: white;
}

h2{
	margin-left: 76vh;
	margin-bottom: 10vh;
}

.lab{
	margin-left: 38vh;
}

p{
	margin-left: 30vh;
}

.tp{
	margin-left: 120vh;
}

.box{
	background-color: #80778E;
	border-style: solid;
	border-radius: 20px;
	border: 5px;
}

.btnHome{
	margin-top: 10vh;
	margin-left: 76vh;
    width: 20vh;
    height: 6vh;
    background-color: #b18fe2;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.btnHome:hover{
	background: transparent;
    border: 1px solid #b18fe2;
    color: #b18fe2;
    transition: .4s;
}

.btnSub{
	width: 10vh;
    height: 3vh;
    background-color: #b18fe2;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.btnSub:hover{
	background: transparent;
    border: 1px solid #b18fe2;
    color: #b18fe2;
    transition: .4s;
}

.btnBuy{
	width: 10vh;
    height: 3vh;
    background-color: #b18fe2;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.btnBuy:hover{
	background: transparent;
    border: 1px solid #b18fe2;
    color: #b18fe2;
    transition: .4s;
}